################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/react-app/logs
/react-app/refresh-token
/react-app/token